# Sets
Sets are - along with dictionaries, lists and tuples - container-like objects. Sets are efficient to store a grouping (or set) of unique values, with no duplicates. Like dictionaries, sets are efficient to check if a value is or is not contained.

In [1]:
brands = {"BMW", "Mercedes", "Renault", "Audi", "VW"}
print(brands)

{'Mercedes', 'Audi', 'VW', 'Renault', 'BMW'}

In [2]:
type(brands)

set

## 1. Operations

In [3]:
print("BMW" in brands)
print("Tesla" in brands)

True
False

## 2. Methods

In [4]:
#add a value
brands.add("Porsch")
print(brands)

{'Mercedes', 'Audi', 'Porsch', 'VW', 'Renault', 'BMW'}

In [5]:
#join two sets together
places1 = {"Paris", "Marseilles", "London", "New York", "Chicago"}
places2 = {"Paris", "Singapore", "Barcelona"}

union = places1.union(places2)
print(union)

{'Chicago', 'New York', 'London', 'Singapore', 'Marseilles', 'Barcelona', 'Paris'}

In [6]:
#intersection 
inter = places1.intersection(places2)
print(inter)

{'Paris'}

In [7]:
#difference
diff = places1.difference(places2)
print(diff)

diff = places2.difference(places1)
print(diff)

{'Marseilles', 'Chicago', 'London', 'New York'}
{'Barcelona', 'Singapore'}

In [8]:
#Check if all elements are in other set
print({"Paris", "London"}.issubset(places1))
print({"Paris", "London"}.issubset(places2))

True
False

In [9]:
#remove an element from a set
places1.remove("Chicago")
print(places1)

{'New York', 'London', 'Marseilles', 'Paris'}

In [10]:
#.remove() will throw an error if the element you are trying to remove doesn't exist in the set
places1.remove("San Francisco")

KeyError: 'San Francisco'

In [11]:
#remove and return an arbitrary set element.
#this is arbitrary given that sets have no order
lucky = places1.pop()
print(lucky)
print(places1)

New York
{'London', 'Marseilles', 'Paris'}

## 3. Sets are iterable

In [12]:
countries = {"France", "Germany", "UK", "Spain", "Italy"}

for country in countries: 
    print(country)

Germany
Spain
Italy
France
UK

In [13]:
#Because sets are iterable, you can pass sets to the enumerate() function
for i, country in enumerate(countries): 
    print(i, country)

0 Germany
1 Spain
2 Italy
3 France
4 UK

## 4. Type casting
You can convert sets to lists, strings to sets, sets to strings, tuples to sets... even the keys of a dictionary!

In [14]:
#lists to sets
a = set([1,2,3,4,3,2,1])
print(a)

{1, 2, 3, 4}

In [15]:
#sets to lists
b = list(countries)
print(b)

['Germany', 'Spain', 'Italy', 'France', 'UK']

In [16]:
#strings to sets
letters = set("Cats are sophisticated, dogs are not")
print(letters)

{'s', 'p', 'C', 'c', 't', 'a', 'r', 'i', 'g', ' ', 'e', 'n', 'd', 'h', 'o', ','}

In [17]:
#dictionary keys (not values) to sets
card = {"name":"David", "age":27, "happy":True}
print(set(card))

{'name', 'happy', 'age'}